<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora RPN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Calculadora</h1>
        <input type="text" id="expression-input" placeholder="Expresión a calcular">
        <div id="result-area"></div>
    </div>

    <div class=" container">
        <label id ="checkLabel"> <input type="checkbox" id="shift" value="Fin Rot">Shift </label>
        <div><button id="mod" class="add-text" value="%">mod</button></div>
        <div><button id="floordiv" class="add-text" value="#">//</button></div>
        <div><button id="blank3" class="add-text" value="´">b3</button></div>
        <div><button id="loge" class="add-text" value="ln">ln</button></div>
        <div><button id="sin" class="add-text" value="sin">Sin</button></div>
        <div><button id="cos" class="add-text" value="cos">Cos</button></div>
        <div><button id="tan" class="add-text" value="tan">Tan</button></div>
        <div><button id="degrees" class="add-text" value="°">°</button></div>
        <div><button id="power" class="add-text" value="^">^</button></div>
        <div><button id="sinh" class="add-text" value="sinh">SinH</button></div>
        <div><button id="cosh" class="add-text" value="cosh">CosH</button></div>
        <div><button id="tanh" class="add-text" value="tanh">TanH</button></div>
        <div><button id="leftP"  class="add-text" value="(">(</button></div>
        <div><button id="rightP" class="add-text" value=")">)</button></div>
        <div><button id="7" class="add-text" value="7">7</button></div>
        <div><button id="8" class="add-text" value="8">8</button></div>
        <div><button id="9" class="add-text" value="9">9</button></div>
        <div><button id="DEL" >DEL</button></div>
        <div><button id="AC" >AC</button></div>
        <div><button id="4" class="add-text" value="4">4</button></div>
        <div><button id="5" class="add-text" value="5">5</button></div>
        <div><button id="6" class="add-text" value="6">6</button></div>
        <div><button id="X" class="add-text" value="*">X</button></div>
        <div><button id="/" class="add-text" value="/">/</button></div>
        <div><button id="1" class="add-text" value="1">1</button></div>
        <div><button id="2" class="add-text" value="2">2</button></div>
        <div><button id="3" class="add-text" value="3">3</button></div>
        <div><button id="+" class="add-text" value="+">+</button></div>
        <div><button id="-" class="add-text" value="-">-</button></div>
        <div><button id="0" class="add-text" value="0">0</button></div>
        <div><button id="DOT" class="add-text" value=".">.</button></div>
        <div><button id="EXP" class="add-text" value="*10^()">EXP</button></div>
        <div><button id="ANS" >ANS</button></div>
        <button id="evaluate-button">=</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
