<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora RPN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Calculadora</h1>
        <input type="text" id="expression-input" placeholder="Expresión a calcular">
        <div id="result-area"></div>
    </div>

    <div class=" container">
        <label id ="checkLabel"> <input type="checkbox" id="shift" value="Fin Rot">Shift </label>
        <div><button id="mod">mod</button></div>
        <div><button id="floordiv">//</button></div>
        <div><button id="blank3">b3</button></div>
        <div><button id="loge">ln</button></div>
        <div><button id="sin">Sin</button></div>
        <div><button id="cos">Cos</button></div>
        <div><button id="tan">Tan</button></div>
        <div><button id="degrees">°</button></div>
        <div><button id="power">^</button></div>
        <div><button id="sinh">SinH</button></div>
        <div><button id="cosh">CosH</button></div>
        <div><button id="tanh">TanH</button></div>
        <div><button id="leftP">(</button></div>
        <div><button id="rightP">)</button></div>
        <div><button id="7">7</button></div>
        <div><button id="8">8</button></div>
        <div><button id="9">9</button></div>
        <div><button id="DEL">DEL</button></div>
        <div><button id="AC">AC</button></div>
        <div><button id="4">4</button></div>
        <div><button id="5">5</button></div>
        <div><button id="6">6</button></div>
        <div><button id="X">X</button></div>
        <div><button id="/">/</button></div>
        <div><button id="1">1</button></div>
        <div><button id="2">2</button></div>
        <div><button id="3">3</button></div>
        <div><button id="+">+</button></div>
        <div><button id="-">-</button></div>
        <div><button id="0">0</button></div>
        <div><button id="DOT">.</button></div>
        <div><button id="EXP">EXP</button></div>
        <div><button id="ANS">ANS</button></div>
        <button id="evaluate-button">=</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
